.highlight {
  background-color: #f8f8f8;
}

body {
  font-family: 'Georgia', 'Lora', 'Times New Roman', 'serif';
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: justify center;
}

article {
  max-width: 900px;
}

article p {
  text-align: justify center;
}

main article {
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.literal-block {
  font-size: 14px;
  line-height: 1rem;
}

/* Line numbers aren't selected by user */
.ln {
  user-select: none;
}
