h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.15rem;
}

.highlight {
  background-color: #f8f8f8;
}

.headerlink {
  padding-left: 1rem;
  color: #242121;
}

.literal-block,
.highlight {
  font-size: 0.9rem;
  line-height: 1.1rem;
}

body {
  font-family: 'Georgia', 'Lora', 'Times New Roman', 'serif';
  font-size: 1rem;
  line-height: 1.7rem;
  text-align: justify center;
}

article {
  max-width: 750px;
}

article p {
  text-align: justify left;
}

main article {
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

main nav a {
  font-size: 0.75rem;
}

/* Line numbers aren't selected by user */
.ln {
  user-select: none;
}

/* Table of contents */
.toc {
  font-size: small;
  display: table;
  width: auto;
}

/* TOC heading in bold */
.toc .toctitle {
  font-weight: bold;
}

/* No bullets for toc list, indentation of nested lists 1em */
.toc ul {
  list-style-type: none;
  padding-left: 1rem;
}

/* Top level list has no indentation */
.toc > ul {
  /* no indentation */
  padding-left: 0;
  margin-top: 0;
}
