h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.15rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body {
  font-family: 'Georgia', 'Lora', 'Times New Roman', 'serif';
  font-size: 1rem;
  line-height: 1.7rem;
}

body p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

article {
  max-width: 750px;
}

main article header {
  line-height: 1rem;
}

main article header p {
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

main article header h2 {
  margin-top: 0;
}

main nav {
  margin-bottom: 1rem;
  text-align: justify;
  margin-left: 8%;
  margin-right: 8%;
}

main nav a {
  font-size: 0.75rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

/* Classes */

.highlight {
  background-color: #f8f8f8;
}

.headerlink {
  padding-left: 1rem;
  color: #242121;
}

.literal-block,
.highlight {
  font-size: 0.9rem;
  line-height: 1.1rem;
}

/* Line numbers aren't selected by user */
.ln {
  user-select: none;
}

/* Table of contents */
.toc {
  font-size: small;
  display: table;
  width: auto;
}

/* TOC heading in bold */
.toc .toctitle {
  font-weight: bold;
}

/* No bullets for toc list, indentation of nested lists 1em */
.toc ul {
  list-style-type: none;
  padding-left: 1rem;
}

/* Top level list has no indentation */
.toc > ul {
  /* no indentation */
  padding-left: 0;
  margin-top: 0;
}
